{% extends 'website/base.html' %}

{% block content %}
    {% include 'website/includes/header.html' %}
    <div class="container"><br><br><br>
        <div class="row">


            {% include 'website/includes/sidebar.html' %}
            

               <div class="col card bg-dark text-light">
                <h1>Сол жактагы менюдан, өзүңүзгө керектүү теманы тандап, окусаңыз болот. </h1>
            </div>


        </div>
    </div>



    {% include 'website/includes/footer.html' %}
{% endblock %}
</body>

</html>