{% extends 'website/base.html' %}

{% block content %}
    {% include 'website/includes/header.html' %}
    <div class="container">
        <div class="row">


            {% include 'website/includes/sidebar.html' %}
            <br><br><br>

               <div class="col card bg-dark text-light">
                <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias commodi corporis eligendi eum id
                    illum ipsum, iste minima neque nisi nulla numquam optio quidem, rerum temporibus ullam ut vitae
                    voluptatibus?</h1>
            </div>


        </div>
    </div>



    {% include 'website/includes/footer.html' %}
{% endblock %}
</body>

</html>