{% extends 'website/base.html' %}

{% block content %}
    {% include 'website/includes/header.html' %}
    <div class="container">
        <br><br><br>
        <div class="">
        <div class="container text-light">
            {% for pos in post %}
                {{ pos.title }}
                {{ pos.img }}
                {{ pos.text | safe }}
                {{ pos.date }}

            {% endfor %}
        </div>
        </div>
    </div>


    {% include 'website/includes/footer.html' %}
{% endblock %}
</body>

</html>