{% extends 'website/base.html' %}

{% block content %}
    {% include 'website/includes/header.html' %}
    <div class="container">
        <br><br><br>
        <div class="">
        <div class="container text-light">
            {% for pos in post %}
                <h2>{{ pos.title }}</h2>
                <img src={{pos.img.url}} alt="">
                {{ pos.text | safe }}
                <b class="text-success display-5">{{ pos.date }}</b>

            {% endfor %}
        </div>
        </div>
    </div>


    {% include 'website/includes/footer.html' %}
{% endblock %}
</body>

</html>