{% block content %}

<footer class="row row-cols-1 row-cols-sm-2 pt-4 row-cols-md-5 bg-dark text-light" style="width: 100%;">
    <div class="col mb-3">
      <!-- <a href="/" class="d-flex align-items-center mb-3 link-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href=""></use></svg>
      </a> -->
      <p class="ms-3 text-light">© 2023</p>
    </div>

    <div class="col mb-3">
        <p>Begislan</p>
    </div>

     <div class="col mb-3">
      <h5>Программирование</h5>
      <ul class="nav flex-column">

        <li class="nav-item mb-2"><a href="" class="nav-link p-0 text-light">Python</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">С#</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">HTML</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">CSS, SCSS</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Java</a></li>
      </ul>
    </div>

    <div class="col mb-3">
      <h5>Section</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="" class="nav-link p-0 text-light">Home</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Features</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Pricing</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">FAQs</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">About</a></li>
      </ul>
    </div>



    <div class="col mb-3">
      <h5>Section</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Home</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Features</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Pricing</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">FAQs</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">About</a></li>
      </ul>
    </div>
  </footer>

    {% endblock%}