{% block content %}

    <div class="col-3 bg-dark" style="padding: 0; height: 100vh; position: sticky; top: 0px; ">
        <main class="d-flex flex-nowrap overflow-auto" style="height: 100vh;">
            <div class="flex-shrink-0 p-3 bg-dark" style="width: 100%; ">


                <ul class=" btn-toggle-nav list-unstyled fw-normal pb-1 small p-2 border rounded">
                    {% for raz in razs %}
                        <li>
                            <a class="text-light btn btn-toggle  fs-5 d-inline-flex align-items-center"
                               data-bs-toggle="collapse"
                               data-bs-target="#home-collapse{{ raz.id }}" aria-expanded="false">
                                {{ raz.name }}
                            </a>
                            <div class="collapse border border-info border-start-0 rounded-end"
                                 id="home-collapse{{ raz.id }}">
                                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small p-2">
                                    {% for glav in glavs %}
                                        {% if raz.id == glav.razdel_id %}
                                            <li class="">
                                                <a class="fs-6 ms-2 btn btn-toggle d-inline-flex align-items-center text-light"
                                                   data-bs-toggle="collapse"
                                                   data-bs-target="#home-collapse{{ raz.id }}_{{ glav.id }}"
                                                   aria-expanded="false">
                                                    {{ glav.name }}
                                                </a>
                                                <div class="collapse border border-success border-start-0 rounded-end"
                                                     id="home-collapse{{ raz.id }}_{{ glav.id }}">
                                                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small p-2">
                                                        {% for them in dataTheme %}
                                                            {% if glav.id == them.id_glav_id %}
                                                                <li>
                                                                    {% for dName in dNames %}
                                                                        <a class="text-light fs-6 ms-4 mb-2 aaa mb-2"
                                                                           href="{% url 'them_cat' dName.id them.id %}">
                                                                            {{ them.theme }}
                                                                        </a>
                                                                        <br>
                                                                    {% endfor %}
                                                                </li>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </ul>
                                                </div>

                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                        </li>

                    {% endfor %}
                </ul>

{#            Новости#}
                <!-- <div class="card p-2 bg-dark border">
                    <center><h1 class="text-light">Новости</h1></center>
                    <img src="https://i.mycdn.me/i?r=AyH4iRPQ2q0otWIFepML2LxRwtxfvb7anJVtLgwts3G5JQ" alt="">
                    <h4 class="text-light">Новые новости сайта</h4>
                    <a class="btn btn-light " href="">Читать далее</a>
                </div>
               <div class="card p-2 bg-dark border">
                    <center><h1 class="text-light">Новости</h1></center>
                    <img src="https://i.mycdn.me/i?r=AyH4iRPQ2q0otWIFepML2LxRwtxfvb7anJVtLgwts3G5JQ" alt="">
                    <h4 class="text-light">Новые новости сайта</h4>
                    <a class="btn btn-light " href="">Читать далее</a>
                </div>
               <div class="card p-2 bg-dark border">
                    <center><h1 class="text-light">Новости</h1></center>
                    <img src="https://i.mycdn.me/i?r=AyH4iRPQ2q0otWIFepML2LxRwtxfvb7anJVtLgwts3G5JQ" alt="">
                    <h4 class="text-light">Новые новости сайта</h4>
                    <a class="btn btn-light " href="">Читать далее</a>
                </div> -->



            </div>


        </main>
    </div>

{% endblock %}