{% extends 'website/base.html' %}
{% block content %}
{% include 'website/includes/header.html' %}

<div class="container" style="min-height: 90vh;">
    <br><br><br>
    <center><h1 class="text-light">LOGIN</h1>
    <h3 class="text-light">Авторизация пользователья</h3>
    <form action="{% url 'login' %}" method="POST" class="form" >
        {% csrf_token %}
        <input type="text" class="form-control" placeholder="Логин" name="username"/>
        <input type="password"  class="form-control" placeholder="Пароль" name="password"/>
        <button class="btn btn-primary" type="submit">Вход</button>
    </form>
    <br>
</div></center>
{% include 'website/includes/footer.html' %}

{% endblock %}